
.modal,.model-cose{
    padding: 5px;
    background-color: rgb(197,82,82);
    color: #fff;
}
.model-overlay{
    background-color: skyblue;
    border: 2px solid black;
    padding: 20px;
    width: fit-content;
    color: #fff;
}